/*
 Theme Name:   Clean Retina Child
 Theme URI:    http://example.com/twenty-fourteen-child/
 Description:  Clean Retina thema met aanpassingen voor Marieke Westerveld
 Author:       Willem Prins | SOMTIJDS
 Author URI:   http://www.somtijds.nl
 Template:     clean-retina
 Version:      0.0.1
 Tags:         light, responsive-layout
 Text Domain:  clean-retina-child
*/

@import url("../clean-retina/style.css");
/* =Theme customization starts here
-------------------------------------------------------------- */

@font-face {
    font-family: 'lane_-_narrowregular';
    src: url('../clean-retina-child/type/LANENAR_-webfont.eot');
    src: url('../clean-retina-child/type/LANENAR_-webfont.eot?#iefix') format('embedded-opentype'), url('../clean-retina-child/type/LANENAR_-webfont.woff') format('woff'), url('../clean-retina-child/type/LANENAR_-webfont.ttf') format('truetype'), url('../clean-retina-child/type/LANENAR_-webfont.svg#lane_-_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'playtime';
    src: url('../clean-retina-child/type/playtime-webfont.eot');
    src: url('../clean-retina-child/type/playtime-webfont.eot?#iefix') format('embedded-opentype'), url('../clean-retina-child/type/playtime-webfont.woff') format('woff'), url('../clean-retina-child/type/playtime-webfont.ttf') format('truetype'), url('../clean-retina-child/type/playtime-webfont.svg#playtime') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aaarghnormal';
    src: url('../clean-retina-child/type/Aaargh-webfont.eot');
    src: url('../clean-retina-child/type/Aaargh-webfont.eot?#iefix') format('embedded-opentype'), url('../clean-retina-child/type/Aaargh-webfont.woff') format('woff'), url('../clean-retina-child/type/Aaargh-webfont.ttf') format('truetype'), url('../clean-retina-child/type/Aaargh-webfont.svg#aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

.access>ul>li.lang-item {
    float: right;
}

.access>ul>li.lang-item {
    float: right;
}

.page-id-19 div.wrapper,
.page-id-19 footer#colophon,
.page-id-19 div.navgroup-wrap {
    padding: 0;
}

.page-id-19 footer#colophon {
    width: auto;
    padding: 0 3em;
}

.page-id-19 .hgroup-wrap {
    padding: 1em 3em;
}

.page-id-19 .navgroup-wrap #access {
    padding: 0 3em;
}

.page-id-19 #main {
    padding: 0;
}

.page-id-19 #main #content .article-content {
    padding: 0 3em;
}

.page-id-19 #main #content h2.entry-title {
    font-size: 2em;
    padding: 0 1.5em;
    margin-top: -2em;
    color: white;
    font-weight: 800;
}

.page-id-19 #main #content header img {
    border-bottom: 2px dashed #6696a1;
}

.hgroup-wrap {
    padding-top: 0;
    padding-bottom: 0.5em;
    width: 100%;
}

.hgroup-wrap a {
    margin: 0 auto;
    max-width: 20em;
}

#site-logo {
    display: none;
}

#branding {
    border: 0;
}

#branding,
#colophon {
    font-size: 17px;
    background-image: none;
    box-shadow: none;
}

.navgroup-wrap {
    border-bottom: 2px dashed #6696a1;
}

#access,
#access>ul>li.menu-item,
#access>ul>li.menu-item a {
    border: 0;
}

#access>ul>li.menu-item>a {
    padding: 0;
    border-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

#access>ul>li.menu-item>a:hover {
    color: #6696a1;
    border-bottom: 1px solid #96ddee;
}

#access>ul>li.current-menu-item a {
    color: #6696a1;
    border-bottom: 1px solid #6696a1;
}

#access {
    margin: 1em auto;
    background: transparent;
}

#access>ul>li {
    float: left;
    margin-right: 5%;
}

#access>ul>li:last-child {
    margin-right: 0;
    float: right;
}

#access>ul>li>a {
    width: 100%;
    height: auto;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

#access>ul>li>ul {
    border-top: 0;
    top: 1.33em;
}

#colophon {
    border-top: 0;
    background-color: #fff;
    border-top: 2px dashed #6696a1;
}

#main {
    padding-top: 1em;
    line-height: 1.6em;
    font-size: 17px;
}

#main a:hover {
    color: #6696a1;
}

#main h1,
#main h2,
#main h3,
#access,
.widget-title {
    font-family: 'lane_-_narrowregular', 'arial', sans-serif;
}

.wrapper, 
#slider-wrapper, 
#colophon, 
.navgroup-wrap {
    font-size: 17px;
    width: 60%;
    padding: 0.5em 3em;
    max-width: 988px;
}

#colophon .widget-title {
    font-size: 15px;
}

#main h1,
#main h2 {
    margin: 0.75em inherit;
}

#main h3 {
    margin: 0.75em inherit;
}

.wrapper,
.featured-slider {
    background-color: #fff;
}

#slider-wrapper,
#colophon,
.navgroup-wrap {
    margin: 0 auto;
}

#slider-wrapper,
.navgroup-wrap {
    font-family: 'aaarghnormal'; 
    border-top: 2px dashed #6696a1; 
    background: #fff url('https://www.oostwestpraktijk.nl/site/wp-content/themes/clean-retina-child/images/ricepaper-marieke.png') repeat; 
}

#colophon .wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
    background-color: transparent;
}

#colophon p {
    font-size: 14px;
    color: #999;
    margin-bottom: 0.25em;
}


#colophon p a {
    color: #777;
}

#site-generator .copyright {
    width: 100%;
}

#site-generator {
    padding-bottom: 0;
}

#content {
    padding-bottom: 1em;
}

blockquote {
    border-left-color: #76759d;
}

a.readmore {
    background-color: #76759d;
}
/* hr  {border : 0; height : 50px; background : url(\'https://www.oostwestpraktijk.nl/site/wp-content/themes/clean-retina-child/images/Vines_Grass_clip_art_small.png\') 50% 0 no-repeat;  margin: 1em 0; background-size: contain;} */

#access>ul>li.lang-item {
    float: right;
}

#colophon hr {
    margin-bottom: 1em;
}

@media only screen and (max-device-width: 568px) {
    .wrapper, #slider-wrapper, #colophon, .navgroup-wrap {
        width: 90%;
        padding: 1em;
    }
    #colophon p,
    #colophon .widget-title {
        text-align: center;
    }
    .navgroup-wrap {
        padding-bottom;
        padding-top: 0;
    }
    #access {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
        font-family: sans-serif;
    }
}

@media only screen and (max-width: 767px) {
    #access select {
        background-image: none;
    }
}

@media only screen and (max-width: 1000px) {
    #access>ul>li.lang-item {
        float: left;
    }
}